{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="container" id="slist">
  <div class="row">
    <br />
    <h2 class="text-primary text-center">Student List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Varsity</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody >
        <tr v-for='task in allTasks'>
          <td>[[task.name]]</td>
          <td>[[task.sid]]</td>
          <td>[[task.varsity]]</td>
          <td>ac</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- vuejs 3  -->
  <!-- <script src="https://unpkg.com/vue@next"></script> -->
  <!-- vuejs 2  -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <!-- axios  -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- external js  -->
  <script src="{% static 'js/vue.js' %}"></script>
</div>
{% endblock %}
